d/generated/Project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- Complex type definition for project -->
<xs:element name="project">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="tags" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<!-- Example project instance -->
<project>
    <name>example_value</name>
    <description>example_value</description>
    <tags>example_value</tags>
</project>

</xs:schema>
